/*removing the padding by h1 in the logo */

* {
	box-sizing: border-box;
}

/*removing the padding by the body */
body {
	padding: 0px;
	margin: 0px;
	background: #f6f6f6;
	font-family: 'Lora', serif;
}


/*making every element to have a white color */

header *{
	color: #fff;
}
header{
	background: #008485;
	height: 66px;
}

header .logo {
	float: left; 
	height: inherit; /*gets the parent height ie 66*/

	/*border: solid 1px red;*/
	margin-left: 2em;

}

/*gets the text to center*/

header .logo-text{
	margin: 9px; 
	text-align: center;
	font-family: 'Candal', serif;
}
/*selecting span elementt */

header .logo-text span {
	color:  #5f84f5;
}

/*nav menu float to the right */
header ul {
	float: right; 
	/*border: solid 1px red;*/
	/*remove the margin and padding  and list style*/
	margin: 0px;
	padding: 0px;
	list-style: none;
}

/*select the li and float to left so it assumes a hotizontal display*/
header ul li{
	float: left;
	position: relative;
}

/*select drop down, child element*/

header ul li ul{
	position: absolute;
	top: 66px; /*to push it 66*/
	right: 0px; /*right distance shoild be the same as parent*/
	width: 180px;

	/*hide drop down*/
	display: none;
}


/*Display when a user hover on elemnt in the ul of li */
header ul li:hover ul{
	display: block;
}




header ul li ul li{
/*same width as its parent, ie 180px*/
	width: 100%;

}

header ul li ul li a{
	padding: 10px;
	color: #444;
	background: #fff;
}


/*A link with a class of logout*/
header ul li ul li a.logout{

	color: red; 

}

header ul li ul li a:hover{
	color: #d5d6d6;
}



header ul li a{
	display: block;
	padding: 21px;
	font-size: 1.1em;
	text-decoration: none;
}

header ul li a:hover{
	background: #006669;
	transition: 0.5s;
}


header .menu-toggle{
	/*hide it by giving property display none on large device */
	display: none;
}


/*MEDIA QUERIES*/
@media only screen and (max-width: 750px) {

	header {
		position: relative; /*use to postion the toggle menu*/
	}



	/*grap navigation menu*/
	header ul {
		width: 100%;
		background: #0E94A0;
		/*the nav should hide on samll device, we give it a max height of 0*/
		max-height: 0px;

		/*border: solid 1px red; */

		/*hide any overflow*/
		overflow: hidden;



	}

/*give it a max height of the normal navigation menu, for shoiwing the navigation menu on small device*/
	.showing {
		max-height: 100em;
	}


    /*makes the nav items 100% width */
	header ul li{
		width: 100%;
	
}

/*select drop down, child element*/

header ul li ul{
	position: static;
	width: 100%; 
	display: block;
	background: inherit; /*inherit from the parent*/
}



header ul li ul li a{
	padding: 10px;
	color: #fff;
	background: #0E94A0;
	padding-left: 50px;

}
header ul li ul li a:hover{
	background: #006669;

}


/*A link with a class of logout*/
header ul li ul li a.logout{

	color: red; 

}

header .menu-toggle{
	/*show it by giving property display none on small device */
	display: block;

	position: absolute;

	right: 20px;
	top: 20px;
	font-size: 1.9em;

	/*border: solid 1px red;*/
}



header .logo {
	
	/*border: solid 1px red;*/
	margin-left: 0.5em;

}



	
}

